#wakeUp {
  display: none;
}

.vh{
  height: 100vh;
}

.flex{
  display: flex;
  align-items: center;
}

.mgn{
  margin: auto;
}

.xx{
  display: none;
}

.bdr{
  border: 2px solid black;
}

.width{
  width: 50%;
}

h2{
  text-align: center;
}

img{
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
