#wakeUp {
  display: none;
}

.vh{
  height: 90vh;
}

.vh2{
  height: 10vh;
}

.flex{
  display: flex;
  align-items: center;
}

.mgn{
  margin: auto;
}

.xx{
  display: none;
}

.bdr{
  border: 2px solid black;
}

.width{
  width: 50%;
}

.scorePadding {
  padding: 50px;
}

h2{
  text-align: center;
}

img{
  width: 500px;
  height: auto;
  display: block;
  margin: auto;
}

.portrait{
  /* border: 4px solid red; */
  height: 500px;
  width: auto;
}

.landscape{
  width: 200px;
  height: auto;
}

body{
  background-color: #000000;
}

.mgn2{
  margin-top: 25px;
}


p, h3, h4, h2, label {
 color: #7F7F7F;
}

.ta{
  text-align: center;
}

/* button {
  margin-top:25px;
} */
